<div class="jumbotron center">
  <h1>Welcome to MyRecipes app</h1>
  <h3> the best sharing recipes app!</h3>
  <p>
    <%= link_to 'Sign up or sign in', '#', class: 'btn btn-danger btn-large' %>
  </p>
</div>
